<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yijiaqin.ejiaqin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.FirstBackGround_Activity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.MainActivity" />
        <activity android:name=".view.LogInActivity" />
        <activity android:name=".foodsDetail.food1Activity" />
        <activity android:name=".foodsDetail.food2Activity" />
        <activity android:name=".foodsDetail.food3Activity" />
        <activity android:name=".foodsDetail.food4Activity" />
        <activity android:name=".foodsDetail.food5Activity" />
        <activity android:name=".foodsDetail.food6Activity" />
        <activity android:name=".foodsDetail.food7Activity" />
        <activity android:name=".view.MessageActivity" />
        <activity android:name=".view.NewxyqActivity" />
        <activity android:name=".drawView.PersonInfoActivity"></activity>
    </application>

</manifest>